################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Пакетная обработка файлов xls (сканы)/~$Настройки.xlsm
